---
import fetchApi from "../../assets/scripts/libs/strapi";
import Layout from "../../layouts/Layout.astro";

const { lang } = Astro.params;

const exhibitions = await fetchApi({
  endpoint: "exhibitions",
  locale: lang,
  wrappedByKey: "data",
});

---

<Layout>
  <h1>{lang === "fr" ? "Exposition" : "Exhibitions"}</h1>
  <pre>{JSON.stringify(exhibitions, null, 2)}</pre>
  <ul>
    {
      exhibitions.map((p) => (
        <li>
          <a href={`/${lang}/exhibitions/${p.Slug}`}>{p.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
