---
const pathname = Astro.url.pathname;

const current = Astro.params.lang || "fr";
const other = current === "fr" ? "en" : "fr";

// supprime "/fr" ou "/en" du début du chemin
const clean = pathname.replace(/^\/(fr|en)/, "");
---

<ul class="flex">
  <li>
    <a href={`/fr${clean}`}>(fr)</a>
  </li>
  <li>
    <a href={`/en${clean}`}>(en)</a>
  </li>
</ul>
 