@import "tailwindcss";


/* -------------------------------------------------------------------- */
/* GLOBAL */
/* Sommaire :
/* -------------------------------------------------------------------- */
/* TYPOGRAPHY 
/* TAILWIND 
/* RESET 
/* STYLES 
/* ANIMATIONS 
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
  font-family: "Mercure-Regular";
  src: url("/fonts/Mercure-Regular.woff2") format("woff2"),
    url("/fonts/Mercure-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */

/* GLOBAL & DESKTOP */
@theme {

  /* Typography •••••••••••• */
  --font-mercure: "Mercure-Regular", "serif";
  --text-base: 20px;
  --text-base--line-height: 23px;

  /* Spacing •••••••••••• */
  --spacing-y-body: 13px;
  --spacing-x-body: 25px;

  --spacing-header-height: 95px;
}

/* MOBILE (breakpoint md:) */
@media (width < 48rem) {
  body {
    /* Typography •••••••••••• */
    --font-mercure: "Mercure-Regular", "serif";
    --text-base: 16px;
    --text-base--line-height: 20px;

    /* Spacing •••••••••••• */
    --spacing-y-body: 13px;
    --spacing-x-body: 10px;

    --spacing-header-height: 95px;

  }
}

/* -------------------------------------------------------------------- */
/* Gap & space between sections */
/* -------------------------------------------------------------------- */

section:not(section:last-child) {
  @apply pb-[200px];
}


@media (width < 48rem) {
  section:not(section:last-child) {
    @apply pb-[200px];
  }
}


/* -------------------------------------------------------------------- */
/* ScrollSpy Animations */
/* -------------------------------------------------------------------- */

header nav a.active {
  @apply underline decoration-1 underline-offset-[3px];
}


img {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-drag: none;
  /* Safari, Chrome */
  user-drag: none;
  /* Autres navigateurs */
  transform: translateZ(0);
  will-change: transform;

}