@import "tailwindcss";


/* -------------------------------------------------------------------- */
/* GLOBAL */
/* Sommaire :
/* -------------------------------------------------------------------- */
/* TYPOGRAPHY 
/* TAILWIND 
/* RESET 
/* STYLES 
/* ANIMATIONS 
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
  font-family: "Mercure-Regular";
  src: url("/fonts/Mercure-Regular.woff2") format("woff2"),
    url("/fonts/Mercure-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */



/* DESKTOP (breakpoint md:) */
@media (width < 48rem) {
  @theme {

    /* Typography •••••••••••• */
    --font-mercure: "Mercure-Regular", "serif";
    --text-base: 20px;
    --text-base--line-height: 23px;

    /* Spacing •••••••••••• */
    --spacing-y-body: 13px;
    --spacing-x-body: 26px;

    --spacing-header-height: 50px;

  }
}

/* GLOBAL & MOBILE */
@theme {

  /* Typography •••••••••••• */
  --font-mercure: "Mercure-Regular", "serif";
  --text-base: 16px;
  --text-base--line-height:20px;

  /* Spacing •••••••••••• */
  --spacing-y-body: 13px;
  --spacing-x-body: 10px;

  --spacing-header-height: 50px;
}



/* -------------------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------------------- */