@import "tailwindcss";

/* -------------------------------------------------------------------- */
/* GLOBAL */
/* Sommaire :
/* -------------------------------------------------------------------- */
/* TYPOGRAPHY 
/* TAILWIND 
/* RESET 
/* STYLES 
/* ANIMATIONS 
/* -------------------------------------------------------------------- */

/* -------------------------------------------------------------------- */
/* TYPOGRAPHY */
/* -------------------------------------------------------------------- */

@font-face {
  font-family: "Mercure-Regular";
  src: url("/fonts/Mercure-Regular.woff2") format("woff2"),
    url("/fonts/Mercure-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* -------------------------------------------------------------------- */
/* TAILWIND */
/* -------------------------------------------------------------------- */
@theme {
  /* Typography */
  --font-mercure: "Mercure-Regular", "serif";
  --text-base: 20px;
}

/* -------------------------------------------------------------------- */
/* RESET */
/* -------------------------------------------------------------------- */
