<div class="wrapper-atlas">
  <h2>Atlas</h2>
  <p>
    The Atlas section provides a comprehensive overview of Aurélie Gravelat's
    artistic journey, showcasing her diverse body of work and the evolution of
    her creative expression over time.
  </p>
  
</div>