---
//layouts/Header.astro

import LangSwitcher from "../components/common/LangSwitcher.jsx";

const { lang } = Astro.props;
const pathname = Astro.url.pathname;
---

<header class="fixed top-0 left-0 w-full z-50">
  <div
    class="max-lg:flex max-lg:flex-col lg:grid lg:grid-cols-24 lg:gap-[10px] mt-y-body mx-x-body"
  >
    <div class="lg:col-span-11 max-lg:order-2">
      <nav>
        <ul class="flex gap-[5px]">
          <li>
            <a
              href="#about"
              class="hover:underline decoration-1 underline-offset-[3px] cursor-pointer"
            >
              {lang === "fr" ? "à propos," : "about,"}
            </a>
          </li>
          <li>
            <a
              href="#exhibitions"
              class="hover:underline decoration-1 underline-offset-[3px] cursor-pointer"
              >{lang === "fr" ? "expositions," : "exhibitions,"}</a
            >
          </li>
          <li>
            <a
              href="#atlas"
              class="hover:underline decoration-1 underline-offset-[3px] cursor-pointer"
              >atlas</a
            >
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex gap-[100px] max-lg:order-1">
      <a href="#">
        <h1 class="whitespace-nowrap">aurélie gravelat</h1>
      </a>
      <LangSwitcher client:load currentLang={lang} currentPath={pathname} />
    </div>
  </div>
</header>
