---
//layouts/Layout.astro
import "../assets/styles/global.css";

const { lang } = Astro.params;

import Header from "./Header.astro";
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aurélie Gravelat</title>
  </head>
  <body class="my-y-body mx-x-body">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
