---
//layouts/Layout.astro
import "../assets/styles/global.css";

const { lang } = Astro.params;
import LangSwitcher from "../components/common/LangSwitcher.astro";
---

<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Aurélie Gravelat</title>
  </head>
  <body>
    <LangSwitcher />
    <main>
      <slot />
    </main>
  </body>
</html>
