---
//layouts/Layout.astro
const { lang } = Astro.params;
import LangSwitcher from "../components/common/LangSwitcher.astro";
---

<html lang={lang}>
  <body>
    <LangSwitcher />
    <slot />
  </body>
</html>

